body {
    background-color: black;
}

p, h1, h2, h3, span {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    text-align: center;
}

.dino {
    font-family: monospace;
    font-size: 10px;
    line-height: 10px;
}

#head, #torso, #leftArm, #rightArm, #leftThigh, #leftCalf, #rightThigh, #rightCalf {
    color: black
}

li {
    display: inline;
}

img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .dino {
        font-size: 8px;
        line-height: 8px;
    }
    
    .dino:hover {
        display: none;
    }

    .hangmanArea {
        font-size: 12px;
    }

    #wordArea {
        font-size: 20px;
    }

    .score {
        font-size: 20px;
    }
}