body {
    background-color: black;
}

p, h1, h2, h3, span {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    text-align: center;
}

.dino {
    font-family: monospace;
    font-size: 10px;
    line-height: 10px;
}

#head, #torso, #leftArm, #rightArm, #leftThigh, #leftCalf, #rightThigh, #rightCalf {
    color: black
}

li {
    display: inline;
    font-size: 25px;
}

img {
    width: 100%;
}

#tapHere {
    display: none;
}

@media only screen and (max-width: 767px) {
    #tapHere {
        display: block;
    }

    #pressAny {
        display: none;
    }

    .hangmanArea {
        font-size: 12px;
    }

    #dino {
        display: none;
    }

    #wordArea {
        font-size: 16px;
    }

    .score {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        overflow: hidden;
    }

    li {
        display: inline;
        font-size:16px;
    }
}